.footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
  }

  .banners {
    flex: 1;
    padding: 20px;
  }

  .footer__text {
    text-align: center;
    color: #96060c80;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
  }