@import url(./reset.css);
@import url(./banners.css);
@import url(./footer.css);
@import url(./auth.css);
@import url(./admin.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color: #161616;

}

.container {

    max-width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
}

.logo .ds, a{
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.nav__links span{
    color: #fb0ae8;
    text-shadow: 0px 0px 12px rgba(216, 6, 153, 0.69);
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Scroll */
/* Изменение цвета и размера вертикальной полосы прокрутки */
::-webkit-scrollbar {
    width: 4px; /* Ширина скроллбара */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #161616; /* Цвет фона трека */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #920000; /* Цвет полосы прокрутки */
    border-radius: 2px; /* Скругление углов полосы прокрутки */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #df0000; /* Цвет полосы прокрутки при наведении */
  }
  
  /* LOGO */
  .neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fb0ae8,
        0 0 82px #fb0ae8,
        0 0 92px #fb0ae8,
        0 0 102px #fb0ae8,
        0 0 151px #fb0ae8;
  }


  /* BG */